.zmTableDetail {
  font-size: 14px;
  margin-bottom: 0;
  border-collapse: collapse;

  thead th, tr th, tr td { border:1px solid #b7b7b7;padding:5px; }

  thead th {
    font-weight: bold;
    background-color: #f4f6fa !important;
  }
  tbody tr{
    height:36px;

  }
  tbody tr:nth-of-type(odd){
    background-color: #ffffff;
  }
  tbody tr:nth-of-type(even),tbody tr:nth-of-type(even) input,tbody tr:nth-of-type(even) select{
    background-color:#f9fafc;
  }
  tbody a{cursor:pointer;}
  tbody a:hover{text-decoration: none;color: #4678fa !important;}

  th, td{
    vertical-align: middle !important;
    font-size: 14px;
    word-wrap:break-word;
    word-break: break-all;
  }
  thead th{
    border-bottom-width: 1px !important;
    background-color: #f4f6fa;
  }


}


