<view-body-comp [headerArr]="['管理设置','会员导入']">
    <div class="setTitle" fxLayout="row" fxLayoutAlign="start center" >
      <span></span>
      <h4>模板导入</h4>
    </div>
    <div class="setTitle" fxLayout="row" fxLayoutAlign="start start" >
      <download_comp [section]="'会员'" [type]="0" style="margin-right: 70px;"></download_comp>
      <upload_comp [section]="'会员'" [type]="0"></upload_comp>
    </div>
    <div class="setTitle" fxLayout="row" fxLayoutAlign="start center" >
      <span></span>
      <h4>店铺导入</h4>
    </div>
    <div class="setTitle" fxLayout="row" fxLayoutAlign="start start" >
      <importData_comp [section]="'会员'" [type]="0"></importData_comp>
    </div>
</view-body-comp>

