.btn{
  padding: 0.75rem 0.35rem;
}
thead th {
  font-weight: bold;
  background-color: #f4f6fa !important;
}
tbody tr{
  margin-top: -1px;
}
tbody tr:nth-of-type(odd){
  background-color: #ffffff;
}
tbody tr:nth-of-type(even),tbody tr:nth-of-type(even) input,tbody tr:nth-of-type(even) select{
  background-color:#f9fafc;
}
tbody .c-tr:hover{
  background-color: #e7f3fd;
}
tbody a{cursor:pointer;}
tbody a:hover{text-decoration: none;color:#03a9f4 !important;}

th, td{
  vertical-align: middle !important;
  font-size: 14px;
  word-wrap:break-word;
  word-break: break-all;
}
thead th{
  border-bottom-width: 1px !important;
}

select.form-control:not([size]):not([multiple]){
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image:url(../../../../assets/images/arrow.png);
  background-repeat: no-repeat;
  background-position:95% 50%;
  font-size: 14px;
  padding-right: 25px;
}
select.c-form-select:not([size]):not([multiple]){
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image:url(../../../../assets/images/arrow.png);
  background-repeat: no-repeat;
  background-position:95% 50%;
  font-size: 14px;
  padding-right: 25px;
}
select::-ms-expand { display: none; }
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.table {
  font-size: 14px;
  margin-bottom: 0;
}
.mg-t-20{
  margin-top:20px;
}
.mg-b-20{
  margin-bottom:20px;
}
.mg-r-10{
  margin-right:10px;
}
.pd-b-25{
  padding-bottom:25px;
}
.font-bold{
  font-weight:bold;
}
.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}
.cur-hand{
  cursor: pointer;
}
.text-center{
  text-align: center;
}
.c-trigon-down{
  position: absolute;
  top:20px;
  left:35px;
  border-width: 6px;
  border-style: solid;
  border-color:#03a9f4 transparent transparent transparent;
}
.c-trigon-up{
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent#03a9f4 transparent;
}
.sort{
  width:48px;
  height:100%;
  position: absolute;
  margin-left:50%;
  left:-24px;
  top:0;
}
