<view-body-comp [headerArr]="['打印预览']">
  <div fxLayout="row" fxLayoutAlign="center">
    <div class="px-20" style="width:450px;border:1px solid #ccc;">
      <h2 class="text-bold text-center">智美小店</h2>
      <div class="my-12" style="border-bottom:1px dotted #ccc;"></div><!--分割线-->
      <!-- 1 -->
      <p fxLayout="row" fxLayoutGap="20px">
        <span>订单编号:</span>
        <span>28788454874814515485</span>
      </p>
      <p fxLayout="row" fxLayoutGap="20px">
          <span>创建时间:</span>
          <span>2018-12-28 18:60:30</span>
      </p>
      <p fxLayout="row" fxLayoutGap="20px">
          <span>会员姓名:</span>
          <span>张三李四</span>
      </p>
      <div class="my-12" style="border-bottom:1px dotted #ccc;"></div><!--分割线-->
    <!-- 2 -->
      <div class="w-100-p py-12" fxLayout="row" fxLayoutAlign="space-between center">
          <span>美白妹夫:</span>
          <div class="w-50-p" fxLayout="row" fxLayoutAlign="space-between center"><span>x 5</span><span>￥8000.00</span></div>
      </div>
      <div class="w-100-p py-12" fxLayout="row" fxLayoutAlign="space-between center">
          <span>爽肤:</span>
          <div class="w-50-p" fxLayout="row" fxLayoutAlign="space-between center"><span>x 25</span><span>￥800510.00</span></div>
      </div>
      <div class="w-100-p py-12" fxLayout="row" fxLayoutAlign="space-between center">
          <span>嫩肤美白:</span>
          <div class="w-50-p" fxLayout="row" fxLayoutAlign="space-between center"><span>x 5</span><span>￥800.00</span></div>
      </div>

      <div class="my-12" style="border-bottom:1px dotted #ccc;"></div><!--分割线-->
    <!-- 3 -->
    <div class="w-100-p py-12" fxLayout="row" fxLayoutAlign="space-between center">
        <span>总价:</span>
        <span>￥800.00</span>
    </div>
    <div class="w-100-p py-12" fxLayout="row" fxLayoutAlign="space-between center">
        <span>折扣:</span>
        <span>￥8.00</span>
    </div>
    <div class="w-100-p py-12" fxLayout="row" fxLayoutAlign="space-between center">
        <span>应付:</span>
        <span>￥780.00</span>
    </div>
    <div class="w-100-p py-12" fxLayout="row" fxLayoutAlign="space-between center">
        <span>实付:</span>
        <span>￥780.00</span>
    </div>

    <div class="my-12" style="border-bottom:1px dotted #ccc;"></div><!--分割线-->
    <!-- 4 -->
    <p fxLayout="row" fxLayoutGap="20px">
        <span>付款时间:</span>
        <span>2018/08/26 18:20:30</span>
    </p>
    <div>
        <p fxLayout="row" fxLayoutGap="20px">
            <span>交易流水:</span>
            <span>878454874854454584</span>
        </p>
        <p fxLayout="row"  fxLayoutAlign="space-between center">
            <span>微信:</span>
            <span>￥80080454</span>
        </p>
    </div>
    <div>
        <p fxLayout="row" fxLayoutGap="20px">
            <span>交易流水:</span>
            <span>878454874854454584</span>
        </p>
        
        <p fxLayout="row"  fxLayoutAlign="space-between center">
            <span>支付宝:</span>
            <span>￥80080454</span>
        </p>
        <p fxLayout="row"  fxLayoutAlign="space-between center">
            <span>现金:</span>
            <span>￥80080454</span>
        </p>
    </div>


    <div class="my-12" style="border-bottom:1px dotted #ccc;"></div><!--分割线-->
    <!-- 5 -->
    <p fxLayout="row"  fxLayoutAlign="space-between center">
        <span>白金卡【会员卡】余额:</span>
        <span>￥80080454</span>
    </p>
    <p fxLayout="row"  fxLayoutAlign="space-between center">
        <span>美白卡【次卡】剩余次数:</span>
        <span>2</span>
    </p>
    <p fxLayout="row"  fxLayoutAlign="space-between center">
        <span>欠款:</span>
        <span>￥8454</span>
    </p>
    <div class="my-12" style="border-bottom:1px dotted #ccc;"></div><!--分割线-->
    <!-- 6 -->
    <p fxLayout="row" fxLayoutGap="20px">
        <span>服务人员:</span>
        <span>王美美，李佳佳</span>
    </p>
    <p fxLayout="row" fxLayoutGap="20px">
        <span>操作人员:</span>
        <span>王妹妹</span>
    </p>
    <p fxLayout="row" fxLayoutGap="20px">
        <span>店铺电话:</span>
        <span>1584848485484</span>
    </p>
    <p fxLayout="row" fxLayoutGap="20px">
        <span>地址:</span>
        <span style="width:80%;">广东省广州市天河区华观路万科云城209广东省广州市天河区华观路万科云城209</span>
    </p>
    <p fxLayout="row" fxLayoutGap="20px">
        <span>备注:</span>
        <span style="width:80%;">请注意休息，忌吃辛辣食品，注意防晒，三天内避免阳光直晒.请注意休息，忌吃辛辣食品，注意防晒，三天内避免阳光直晒。</span>
    </p>
    <p class="text-bold text-center py-28">
      <i style="font-size:18px;">感谢光临,欢迎再次惠顾!</i> 
    </p>
    </div>
  </div>


</view-body-comp>
