<view-body-comp [headerArr]="['商品列表','新建商品']">

  <div fxLayout="row" fxLayoutGap="20px">

    <div style="width: 50%">

      <zm-input-pcode label="商品编号" placeholder="请输入商品编号"
                      [(zmValue)]="viewData.addFormData.number" [(zmPass)]="viewData.addFormData.numberPass"
                      [existList]="viewData.goodsNumberList"></zm-input-pcode>


      <zm-input-name label="商品名称" placeholder="请输入商品名称" maxlength="15"
                     [(zmValue)]="viewData.addFormData.name" [(zmPass)]="viewData.addFormData.namePass"></zm-input-name>

      <div fxLayout="row" fxLayoutGap="10px;" fxLayoutAlign="space-between center">
        <zm-select-string fxFlex="1 1" [noAll]="true" [label]="'商品分类'" [selectList]="viewData.typeList" [name]="'name'"
                          [value]="'id'"
                          [(zmValue)]="viewData.addFormData.typeId"></zm-select-string>
        <zm-btn-small fxFlex="0 0 80px" name="新建分类" (zmbtnClick)="addType()"></zm-btn-small>
      </div>


      <zm-input-price [required]="false" [label]="'商品售价'" [placeholder]="'请输入商品售价'"
                      [(zmValue)]="viewData.addFormData.price"></zm-input-price>

      <zm-input-price [required]="false" [label]="'商品成本'" [placeholder]="'请输入商品成本'"
                      [(zmValue)]="viewData.addFormData.cost"></zm-input-price>

      <zm-input-textarea [label]="'商品介绍'" [placeholder]="'请输入200字以内的商品介绍'"
                         [(text)]="viewData.addFormData.descript" [maxlength]="200"></zm-input-textarea>

      <switch-button-comp label="上架状态" [(state)]="viewData.addFormData.state"></switch-button-comp>

      <switch-button-comp [(state)]="viewData.addFormData.promotionFlag" label="是否促销"></switch-button-comp>


      <zm-input-price *ngIf="viewData.addFormData.promotionFlag" [required]="false" [label]="'促销价格'"
                      [placeholder]="'请输入促销价格（小于售价）'"
                      [(zmValue)]="viewData.addFormData.promotionPrice"></zm-input-price>

      <div fxLayout="row" fxLayoutAlign="end" style="margin-top: 20px;">
        <zm-btn-large fxFlexAlign="end" [disabled]="!(viewData.addFormData.numberPass && viewData.addFormData.namePass)"
                      name="保存" (zmbtnClick)="addGoods()"></zm-btn-large>
      </div>

    </div>

    <div style="width: 50%">

      <!--<zm-input-file [label]="'上传图片'"  [maxCount]="viewData.pageData.maxCount" [limitCount]="viewData.pageData.limitCount" [requestUrl]="viewData.pageData.requestUrl" [appendKey]="'imgs'" (callback)="showImg($event)"></zm-input-file>-->
      <div style="width:80px;height:36px;">
        <zm_img_cropper [label]="'上传图片'" [aspectRatio]="4/3" [requestUrl]="viewData.pageData.requestUrl"
                        (callback)="showImg($event)"></zm_img_cropper>
      </div>


      <div class="form-group form-inline">
        <zm-img-preview [(imgArr)]="viewData.addFormData.imgPaths"
                        [(imgLength)]="viewData.pageData.limitCount"></zm-img-preview>
      </div>
    </div>
  </div>


</view-body-comp>
