//input查询
.c-devinfo {
  .c-devinfo-input {
    //border-radius: 6px 0 0 6px;
    border-radius: 6px;
    background: #F4F6FA;
    height: 30px;
    border: 1px solid #ECEFF3;
    padding: 0 10px;
    outline: none;
    font-size: 14px;
  }
  .c-devinfo-btn {
    color: #fff;
    background: #4678fa;
    border: none;
    //border-top-right-radius: 6px;
    //border-bottom-right-radius: 6px;
    border-radius: 6px;
    height: 30px;
    width: 58px;
    font-size: 14px;
    margin-left: -5px;
    cursor: pointer;
    outline: none;
    padding: 0 !important;
  }
}
//input查询
