
.pd-lr-30{
  padding-left: 30px;
  padding-right: 30px;
}
.mg-lr-10{
  margin-left: 10px;
  margin-right: 10px;
}
.align-center{
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}
.fz-18{
  font-size: 18px;
}
.fz-16{
  font-size: 16px;
}
.font-bold{
  font-weight: bold;
}
.cur-hand{
  cursor: pointer;
}
.mg-t-20{
  margin-top:20px;
}
.disFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
}

.c-btn-blue{
  color: #fff;
  border-color:#03a9f4 !important;
  background-color:#03a9f4 !important;
}
.btn{
  padding: 0.75rem 0.35rem;
}

//按钮
.c-btn-lg{
  a{color: #fff;}
  a:hover{text-decoration: none; }
}
//预约列表
.disFlex {
  align-items: center;
}
//查询select
.c-leaguer-select {
  -webkit-align-items: center;
  .form-select {
    font-size: 14px;
    padding: 0 20px 0 10px;
    height: 30px !important;
    display: inline-block;
    border-width: 1px;
  }
}
//查询select

//input查询
.c-first-input{
  border-radius: 6px 0 0 6px;
  background: #F4F6FA;
  height: 30px;
  border: 1px solid #ECEFF3;
  padding: 0 10px;
  outline: none;
  width: 170px;
  font-size: 14px;
}
.c-prdlist-btn{
  color: #fff;
  background:#03a9f4;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 30px;
  padding: 0 15px;
  font-size: 14px;
  margin-left: -5px;
  cursor: pointer;
  outline: none;
}
//input查询
//时间选择
.c-addAp-body{
  width: 100%;
  background-color: #fff;
  margin-bottom: 1.5rem;
}
.c-input-data {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  border: 2px solid #dadfe6;
  border-right: none;
  height: 30px;
  font-size: 14px;
  padding-left: 10px;
  margin-left: 10px;
  outline: none;
  width: 150px;
}
.c-client-data {
  outline: none;
  height: 30px;
  border: 2px solid #dadfe6 !important;
  border-top-left-radius: 0 !important;;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;
  background: transparent;
}
.c-client-data:focus {
  border-color: #dadfe6;
}
.btn-link{
  outline:none !important;
  border:none !important;
  background-color:#03a9f4;
}
//时间选择
