.c-reg{
  width: 100%;
  height: 100vh;
  background: url(~assets/images/sign_bg.png) no-repeat 100% 100%;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-reg-body{
    width: calc(100% - 200px);
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .c-reg-content{
       width: 40%;
      height: auto;
      padding-bottom: 50px;
      .title{
        font-size: 30px;
        color: #333;
        margin: 50px 0;
        font-weight: bold;
      }
    }

}
//form
.input-group{
  align-items: center !important;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -moz-box-align: center;
  .c-label{
    margin-right: 15px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    width: 80px;
    text-align: left;
  }
  .c-reg-input{
    width: calc(100% - 95px);
    color:#333;
    font-size: 14px;
    height: 48px;
    border-radius: 0.375rem;
    background-color: #ffffff;
    border:2px solid #dadfe6;
    padding: 0 0.75rem;
  }
  .c-reg-input:focus{
    outline: none;
    border-color: #0f88de;
  }
}
//form
//错误类型
.c-reg-error{
  height: 30px;
  font-size: 12px;
  margin-left: 100px;
}
   //placeholder
::-webkit-input-placeholder{
  color:#757575;
  font-size: 1rem;
}
-moz-input-placeholder{
  color:#757575;
  font-size: 1rem;
}
-ms-input-placeholder{
  color:#757575;
  font-size: 1rem;
}
//placeholder

//单选按钮
.custom-control-indicator::before {
  color: #fff;
  background-color: #0f88ed !important;
}


