.btn{
  padding: 0.75rem 0.35rem;
}
thead th {
  font-weight: bold;
  background-color: #f4f6fa !important;
  border-bottom-width: 1px !important;
}
tbody tr{
  margin-top: -1px;
  background-color: #fff;
}

tbody .c-tr:hover{
  background-color: #e7f3fd;
}

tbody a{cursor:pointer;}
tbody a:hover{text-decoration: none;color:#03a9f4 !important;}

th, td{
  vertical-align: middle !important;
  font-size: 14px;
  word-wrap:break-word;
  word-break: break-all;
}
.table-bordered thead th{
  border-bottom-width: 1px !important;
}
select.form-control:not([size]):not([multiple]){
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image:url(../../../../assets/images/arrow.png);
  background-repeat: no-repeat;
  background-position:95% 50%;
  font-size: 14px;
  padding-right: 25px;
}
select.c-form-select:not([size]):not([multiple]){
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image:url(../../../../assets/images/arrow.png);
  background-repeat: no-repeat;
  background-position:95% 50%;
  font-size: 14px;
  padding-right: 25px;
}
select::-ms-expand { display: none; }
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button:focus{
  box-shadow: none;
}
.table {
  font-size: 14px;
  margin-bottom: 0;
}
.disFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
}
.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}

.hor-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
}
.text-center{
  text-align: center;
}
.mg-l-20{
  margin-left:20px;
}
.mg-l-10{
  margin-left:10px;
}
.mg-r-20{
  margin-right:20px;
}
tbody .c-tr:hover{
  background-color: #e7f3fd;
}
.color-theme{
  color:#03a9f4;
}
.cur-hand{
  cursor: pointer;
}
.mg-r-10{
  margin-right:10px;
}
.mg-l-10{
  margin-left:10px;
}
.mg-b-15{
  margin-bottom:15px;
}

.search-input {
  outline: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #F4F6FA;
  height: 30px;
  border: 1px solid #ECEFF3;
  padding: 0 10px;
  font-size: 14px;
}
.searchBtn {
  color: #fff;
  background:#03a9f4;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 30px;
  padding: 0 15px;
  font-size: 14px;
  margin-left: -5px;
  cursor: pointer;
  outline: none;
}
.form-control {
  padding: 0 10px;
  height: 30px !important;
  display: inline-block;
  margin-left: 10px;
}
.form-select:focus{
  border-width: 1px !important;
}
.c-input-data {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  border: 2px solid #dadfe6;
  border-right: none;
  height: 30px;
  font-size: 14px;
  padding-left: 10px;
  outline: none;
}
.c-client-data {
  outline: none;
  height: 30px;
  border: 2px solid #dadfe6 !important;
  border-top-left-radius: 0 !important;;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
.c-client-data:focus {
  border-color: #dadfe6;
}

//tody
.c-btn-data{
  color: #999;
  border: none;
  width: 60px;
  height: 30px;
  font-size: 14px;
  padding: 0 !important;
  cursor: pointer;
  outline: none;
  margin-left: -5px;
}
.today{
  background-color:#03a9f4;
  color: #ffffff;
  border-color:#4678fa;
}
.hebdomad{
  background-color:#03a9f4;
  color: #ffffff;
  border-color:#4678fa;
}

.orderStatus span{
  margin-right:30px;
  font-size:18px;

}

.activeDefault{
  color:#4678fa;
  border-bottom:2px solid #4678fa;
}

// 补单样式
.chainMark{
  border-radius:20px;
  background:#03a9f4;
  color:#ffffff;
  position: absolute;
   top:0;
   left:-30px;
} 