@import 'src/assets/custom/theme1/custom-bootstrap';

thead th {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  background-color: #f4f6fa !important;
}
tbody tr{
  margin-top: -1px;
}
tbody tr:nth-of-type(odd){
  background-color: #ffffff;
}
tbody tr:nth-of-type(even),tbody tr:nth-of-type(even) input,tbody tr:nth-of-type(even) select{
  background-color:#f9fafc;
}
tbody .c-tr:hover{
  background-color: #e7f3fd;
}
tbody a{cursor:pointer;}
tbody a:hover{text-decoration: none;color:#03a9f4 !important;}

th, td{
  vertical-align: middle !important;
  font-size: 14px;
  word-wrap:break-word;
  word-break: break-all;
}
thead th{
  border-bottom-width: 1px !important;
}
select.form-control:not([size]):not([multiple]){
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image:url(/assets/images/arrow.png);
  background-repeat: no-repeat;
  background-position:95% 50%;
  font-size: 14px;
  padding-right: 25px;
}
select.c-form-select:not([size]):not([multiple]){
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image:url(/assets/images/arrow.png);
  background-repeat: no-repeat;
  background-position:95% 50%;
  font-size: 14px;
  padding-right: 25px;
}
select::-ms-expand { display: none; }

input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.table {
  font-size: 12px;
  text-align: center;
}
.table thead th {
  white-space: nowrap;
  padding:5px 2px;
  box-sizing:border-box;
}
.table tbody tr td{
  padding:8px;
  font-size: 12px;
  box-sizing:border-box;
}
.scroll-table tr td:nth-child(1){
  width: 30%;
}
.scroll-table tr td:nth-child(2){
  width: 40%;
}
.search-input{
  outline: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #F4F6FA;
  height: 30px;
  border: 1px solid #ECEFF3;
  padding: 0 10px;
  font-size: 14px;
}

.scrollTable{
  border:none;
}
.scrollTable tbody {
  display: block;
  height: 400px;
  overflow-y: auto;
}
.scrollTable thead {
  display: table;
  width: -moz-calc(100% - 10px);
  width: calc(100% - 10px);
  width: 100%;
  table-layout: fixed;
}
.scrollTable tr{
  display: table;
  width: 100%;
}



.searchBtn {
  color: #fff;
  background:#03a9f4;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 30px;
  padding: 0 15px;
  font-size: 14px;
  margin-left: -5px;
  cursor: pointer;
  outline: none;
}

.search-input {
  outline: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #F4F6FA;
  height: 30px;
  border: 1px solid #ECEFF3;
  padding: 0 10px;
  font-size: 14px;
}

.form-control {
  padding: 0 10px;
  height: 30px !important;
  width: auto;
  display: inline-block;
  margin-left: 10px;
}
.table {
  font-size: 14px;
}
.table thead th {
  white-space: nowrap;
  padding:5px 2px;
  box-sizing:border-box;
}
.table tbody tr td{
  padding:8px;
  font-size: 14px;
  box-sizing:border-box;
}
.scroll-table tr td:nth-child(1){
  width: 30%;
}
.scroll-table tr td:nth-child(2){
  width: 40%;
}
.search-input{
  outline: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #F4F6FA;
  height: 30px;
  border: 1px solid #ECEFF3;
  padding: 0 10px;
  font-size: 14px;
}
.close{
  outline:none;
}
.fa-pencil{
  top:2px;
}
.scrollTable{
  border-bottom: 1px solid #e9ecef;
}
.scrollTable tbody{
  // max-height:177px;
  max-height:340px;
  height:auto;
}
.scrollTable tbody tr{
  border: 1px solid #e9ecef;
}
.scrollTable tbody tr:last-child{
  border-bottom:none ;
}
.scrollTable tbody tr td{
  border-bottom: none;
  border:none;
}
.itemActiveClass{
  background:#03a9f4 !important;
  color:#fff;
  cursor: pointer;
}
.pd-lr-15{
  padding-left: 15px;
  padding-right: 15px;
}
.pd-tb-10{
  padding-top:10px;
  padding-bottom: 10px;
}
.fz-16{
  font-size:16px;
}
.font-bold{
  font-weight: bold;
}
.disFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
}
.mg-t-30{
  margin-top: 20px;
}
