.form-valid-error{
  border: 2px solid #FF4c6a !important;
}

input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-control[readonly] {
  background: none !important;
}
.form-control:focus{
  box-shadow: none;
}
//时间按钮背景色
.input-group-addon{
  background: none !important;
}
thead th {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  background-color: #f4f6fa !important;
}
tbody tr{
  margin-top: -1px;
}
tbody tr:nth-of-type(odd){
  background-color: #ffffff;
}
tbody tr:nth-of-type(even),tbody tr:nth-of-type(even) input,tbody tr:nth-of-type(even) select{
  background-color:#f9fafc;
}
tbody .c-tr:hover{
  background-color: #e7f3fd;
}
tbody a{cursor:pointer;}
tbody a:hover{text-decoration: none;color:#03a9f4 !important;}

th, td{
  vertical-align: middle !important;
  font-size: 14px;
  word-wrap:break-word;
  word-break: break-all;
}
thead th{
  border-bottom-width: 1px !important;
}

select::-ms-expand { display: none; }

input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.c-btn-modal{
  width: 168px;
  padding: 12px 0 !important;
  outline: none;
  cursor: pointer;
}
.c-close-btn-modal{
  border: 2px solid#03a9f4 !important;
  color:#03a9f4 !important;
  background-color: #fff;
  cursor: pointer;
}
.scrollTable{
  border:none;
}
.scrollTable tbody {
  display: block;
  height: 400px;
  overflow-y: auto;
}
.scrollTable thead {
  display: table;
  width: -moz-calc(100% - 10px);
  width: calc(100% - 10px);
  width: 100%;
  table-layout: fixed;
}
.scrollTable tr{
  display: table;
  width: 100%;
}


.btn{
  padding: 0.75rem 0.35rem;
}

.mg-t-30{
  margin-top:30px;
}
.mg-b-20{
  margin-bottom:20px;
}
.mg-b-40{
  margin-bottom:40px;
}
.mg-b-0{
  margin-bottom:0;
}
.mg-l-15{
  margin-left:15px;
}

.modal-title{
  font-size: 18px;
  font-weight: bold !important;
  color: #333 !important;
}

.c-btn-blue{
  color: #fff;
  border-color:#03a9f4 !important;
  background-color:#03a9f4 !important;
  cursor: pointer;
}
.font-bold{
  font-weight:bold;
}
.font-c2{
  color: #bcc2c8;
}
.font-c3 {
  color: #FF4c6a;
}
.cur-hand{
  cursor: pointer;
}

tbody .c-tr:hover{
  background-color: #e7f3fd;
}

.text-center {
  text-align: center;
}

.c-input-group{
  align-items: center !important;
  .form-control{
    border-radius: 0.375rem !important;
  }
}
//输入框
.form-control{
  padding: 0.75rem 0.75rem;
  border: 2px solid #ced4da;
}

.disFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
}
.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}

.hor-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
}

.pos-r {
  position: relative
}
.pos-a {
  position: absolute;
}


.c-input-error{
  height: 30px;
  padding-left: 110px;
  font-size: 12px;
}
.input-group{
  width:480px;
}

.c-addlea-body{

  .c-input-group{
    align-items: baseline !important;
  }
  //跟进人员
  .c-ipt-service {
    padding-right: 50px;
    height: 52px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  //跟进人员
  .c-label{
    width: 100px;
    margin-bottom: 0 !important;
  }
}
.c-clent-img{
  position: relative;

  .img{
    position: absolute;
    left:calc(50% - 50px);
    top: 0;
    opacity: 0;
    filter:alpha(opacify=0);
    cursor:pointer;
    width: 100%;
    height: 100%;
  }
}
.c-client-data{
  border:2px solid #dadfe6;
}
.c-input-data{
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;

}
.c-client-data{
  outline: none;
  height: 52px;
  border-left:none;
  border-top-left-radius: 0 !important;;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;

}
.c-client-data:focus{
  border-color: #dadfe6;
  border-left:none;
}

.c-my-btn{
  width:calc(100% - 110px) ;
  margin-left: 110px;
}
//模态框
.c-cardlist-input {
  .c-first-input {
    border-radius: 6px 0 0 6px;
    background: #F4F6FA;
    height: 30px;
    border: 1px solid #ECEFF3;
    padding: 0 10px;
    font-size: 14px;
    outline: none;
    width: 100%;
  }
  .c-cardlist-btn {
    color: #fff;
    background:#03a9f4;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 30px;
    width: 70px;
    font-size: 14px;
    margin-left: -5px;
    cursor: pointer;
    outline: none;

  }
}
.c-btn-modal{
  width: 168px;
  padding: 12px 0 !important;
}
.itemStyle{
  background-color: #0f88de !important;
  color: #fff;
  cursor:pointer;
}
.itemStyle  td{
  border-bottom: none;
  border:none;
}

//左侧滚动条
.c-table-title {
  border:none;
  thead{
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  tbody{
    display: block;
    height:300px;
    overflow-x:hidden;
    overflow-y:auto;
    border:1px solid #e9ecef;
    border-top:none;
    tr{
      display: table;
      width: 100%;
      td{
        word-break: break-all;
        word-wrap: break-word;
      }
      td:first-child{
        border-left: none;
      }
      td:last-child{
        border-right: none;
      }
    }
  }
}
.icon-dir{
  position: absolute;
  left: 335px;
  top: 250px;
  width: 7px;
}
.c-table-title  tbody tr{
  border-top:none;
}

//模态框

.tag {
  width:81px;
  height:28px;
  line-height:25px;
  border:2px solid#03a9f4;
  border-radius: 6px;
  color:#03a9f4;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-minus-sign {
  content: "\e082";
}
.expandTitle{
  height:40px;
  line-height: 40px;
  background:#4678fa;
  color: #fff;
  font-weight:600;
  font-size: 1.125rem;
  width:100%;
  text-indent:80px;

}
