<view-body-comp [headerArr]="['收支分类']" >


        <ng-template #tabA>
                <mat-toolbar style="padding-top:15px;margin-bottom:15px;">

                    <mat-toolbar-row  fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="zmFullWidth">

                                    <div>
                                            <mat-form-field color="accent" class="ml-20 example-margin">
                                                    <input matInput type="text" placeholder="分类名称" [(ngModel)]="viewData.payTypeName" >
                                            </mat-form-field>
                                            <button type="button" mat-raised-button  color="accent" (click)="queryTypeListByName()">查询 </button>
                                    </div>

                                        <zm-btn-new [name]="'新增'" (zmbtnClick)="newModal()"></zm-btn-new>

                    </mat-toolbar-row>
                </mat-toolbar>




                        <ng-template #tdA let-item="item">{{item.name}}</ng-template>
                        <ng-template #tdB let-item="item">
                          <a class="zmCurHand mr-4" (click)="compileModal(item.id)">编辑</a>
                          <a class="zmCurHand mr-4" (click)="deleteType(item)">删除</a>
                        </ng-template>

                        <zm-mat-table  [tdTemplateList]="[tdA,tdB]" [thNameList]="['分类名称','操作']" [itemList]="viewData.payTypeListShow"></zm-mat-table>

                         <no-data [loadingFinish]="viewData.loadingFinish" [dataList]="viewData.payTypeListShow" [text]=" '没有数据'" [showImg]="'noData'"></no-data>
                        <zm-page style="padding-top:20px;" [totalSize]="viewData.payRecordCount" [curPage]="viewData.curPage" (pageChange)="getPageData($event)"></zm-page>


        </ng-template>

        <ng-template #tabB>
                <mat-toolbar style="padding-top:15px;margin-bottom:15px;">

                    <mat-toolbar-row  fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="zmFullWidth">

                                    <div>
                                            <mat-form-field class="ml-20 example-margin">
                                                    <input matInput type="text" placeholder="分类名称" [(ngModel)]="viewData.incomeTypeName">
                                            </mat-form-field>
                                            <button type="button" mat-raised-button  color="accent" (click)="queryTypeListByName()">查询</button>
                                    </div>

                                        <zm-btn-new [name]="'新增'" (zmbtnClick)="newModal()"></zm-btn-new>

                    </mat-toolbar-row>
                </mat-toolbar>



                  <ng-template #tdA let-item="item">{{item.name}}</ng-template>
                        <ng-template #tdB let-item="item">
                          <a class="zmCurHand mr-4" (click)="compileModal(item.id)">编辑</a>
                          <a class="zmCurHand mr-4" (click)="deleteType(item)">删除</a>
                        </ng-template>

                        <zm-mat-table  [tdTemplateList]="[tdA,tdB]" [thNameList]="['分类名称','操作']" [itemList]="viewData.incomeTypeListShow"></zm-mat-table>

                         <no-data [loadingFinish]="viewData.loadingFinish" [dataList]="viewData.incomeTypeListShow" [text]=" '没有数据'" [showImg]="'noData'"></no-data>
                        <zm-page style="padding-top:20px;" [totalSize]="viewData.incomeRecordCount" [curPage]="viewData.curPage" (pageChange)="getPageData($event)"></zm-page>


        </ng-template>

    <zm-mat-tabs  [tabTemplateList]="[tabA,tabB]" [tabNameList]="['支出','收入']" [selectedIndex]="0" (onSelect)="onTabSelect($event)"></zm-mat-tabs>
</view-body-comp>
