.btn{
  padding: 0.75rem 0.35rem;
}


.c-input-group{
  align-items: center !important;
  .form-control{
    border-radius: 0.375rem !important;
  }
}
//输入框
.form-control{
  padding: 0.75rem 0.75rem;
  border: 2px solid #ced4da;
}
.form-control:focus{
  box-shadow: none;
}
.font-c3{
  color: #FF4c6a;
}
.c-btn-blue{
  color: #fff;
  border-color:#03a9f4 !important;
  background-color:#03a9f4 !important;
}
.cur-hand{
  cursor: pointer;
}
.mg-b-30{
  margin-bottom:30px;
}
.mg-t-20{
  margin-top:20px;
}
.mg-t-30{
  margin-top:30px;
}
.pd-t-10{
  padding-top: 10px;
}
.pd-lr-80{
  padding-left:80px;
  padding-right:80px;
}

.c-label {
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 0;
  width: 100px;
  text-align: right;
}

//错误类型
.c-input-error{
  height: 30px;
  padding-left: 110px;
  color: #FF4c6a;
  font-size: 12px;
}

.btn-upload{
  border: none;
  outline: none;
  width:86px;
  height:32px;
  background:rgba(69,119,248,1);
  border-radius: 6px;
  margin-top: 19px;
}
.input-upload {
  opacity: 0;
  filter: alpha(opacity=0);
  top:0px;
  left:0;
  width: 86px;
  height:32px;
}

button{
  margin-left:110px;
}

.c-input-group{
  width:1190px;
}



.gl_product{
  padding-left:20px;
  background:url(assets/images/order_relevance.png) no-repeat 0% 3px;

}


.order_relevance{
  padding-left:110px;
  padding-bottom:20px;
  width:75%;
}
// .order_rel{
//   width:40%;
// }
.order_blue{
  color:#4678FA;
}

.rel_product span{
  display: inline-block;
  overflow: hidden;
  max-width: 140px;
  height:24px;
  position: relative;
  font-size: 14px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.rel_product .content{
  padding-right: 10px;
}

.rel_product span i{
  position: absolute;
  right:5px;top:0;
  width:21px;
  height:21px;
  cursor: pointer;
}
.rel_order{
  //padding-right:30px;
  position: relative;
  font-size: 14px;
}
.rel_order i{
  position: absolute;
  right:5px;
  top:0px;
  width:21px;
  height:21px;
  cursor: pointer;
}

.order_rel{
  width:36%;
}
.order_rel2{
  width:64%;
}
// 、、、、、、、、、、、、、、、、、、
.disFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
}

.ul_img{
flex-wrap:wrap;
}
.ul_img li{

width:100px;
height:100px;
margin-right:5px;
margin-top:5px;
}
.ul_img li img{
width:100%;
height:100%;
}
