.form-control:focus{
  box-shadow: none;
}
.form-valid-error{
  border: 2px solid #FF4c6a !important;
}
.pd-lr-30{
  padding-left:30px;
  padding-right: 30px;
}

.mg-r-10{
  margin-right: 10px;
}
.mg-t-30{
  margin-top:30px;
}
.mg-t-40{
  margin-top:40px;
}
.font-c3{
  color: #FF4c6a;
}

.mg-b-30{
  margin-bottom:30px;
}

.fz-18{
  font-size: 18px;
}
.font-bold{
  font-weight:bold;
}

.c-btn-blue{
  color: #fff;
  border-color: #4678fa !important;
  background-color: #4678fa !important;
}
.form-valid {
  &-success {
    border: 2px solid #0A85EA !important;
  }
  &-error {
    border: 2px solid #FF4c6a !important;
  }
}

.c-my-btn{
  width: calc(100% - 95px);
  margin-left: 95px;
}
.c-form-control{
  font-size: 14px !important;
}

.c-input-group{
  align-items: center !important;
  .form-control{
    border-radius: 0.375rem !important;
  }
}
//输入框
.form-control{
  padding: 0.75rem 0.75rem;
  border: 2px solid #ced4da;
}


//定位
.pos-r {
  position: relative
}
.pos-a {
  position: absolute;
}
//定位
//Flex
.disFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
}
.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}

.hor-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
}


nb-tabset{
  padding-bottom: 20px;
}
//
  //单选按钮

.c-input-error{
  height: 30px;
  padding-left: 25px;
  color: #0A85EA !important;
  font-size: 12px;
  margin-left: 90px;
}
.c-input-group{
  .c-label{
    width: 100px;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 0 !important;
  }
}
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
