  <view-body-comp [headerArr]="['会员分析']">

    <ng-template  #tabA>
      <mat-toolbar style="padding-top:15px;margin-bottom:15px;">
        <mat-toolbar-row fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="zmFullWidth">
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="50px" class="fullwidth">
            <zm-btn-tab [tabList]="[{name:'优质会员',value:1},{name:'静止会员',value:3},{name:'风险流失会员',value:2}]" [activeValue]="viewData.typeQueryForm.leaguerType" (zmbtnClick)="changeLeaguerType($event)"></zm-btn-tab>
            <zm-search-box [label]="'查询'" [placeholder]="'姓名/手机号'" [(zmValue)]="viewData.typeQueryForm.leaguerNameOrPhone" (callBack)="getTypePageData(1)"></zm-search-box>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>

      <zm-table>
        <thead>
          <tr style="border-bottom:1px solid rgba(0, 0, 0, 0.12);">
            <th class="py-20" style="width:10%;">姓名</th>
            <th style="width:15%;">手机号</th>
            <th style="width:20%;">
              <div class="w-100-p"  fxLayout="row" fxLayoutAlign="center center">
                <span>上次消费时间</span>
                <zm-btn-updown *ngIf="viewData.typeList.length>0" (zmbtnClick)="sortConsumeTime($event)" [active]="viewData.consumeTimeSort"></zm-btn-updown>
              </div>
            </th>
            <th style="width:5%;">
              <div class="w-100-p"  fxLayout="row" fxLayoutAlign="center center">
                <span>来店频率</span>
                <zm-btn-updown *ngIf="viewData.typeList.length>0" (zmbtnClick)="sortMonthRate($event)" [active]="viewData.monthRateSort"></zm-btn-updown>
              </div>
            </th>
            <th style="width:10%;">消费总额</th>
            <th style="width:10%;">
              <div class="w-100-p"  fxLayout="row" fxLayoutAlign="center center">
                <span>客单价</span>
                <zm-btn-updown *ngIf="viewData.typeList.length>0" (zmbtnClick)="sortAvgPrice($event)" [active]="viewData.avgPriceSort"></zm-btn-updown>
              </div>
            </th>
            <th style="width:10%;">操作</th>
          </tr>
        </thead>
        <tbody style="height:auto;">
          <tr *ngFor="let item of viewData.typeList">
            <td style="width:10%;padding:14px 0">{{item.name}}</td>
            <td style="width:15%;">{{item.phone}}</td>
            <td style="width:20%;">{{item.lastConsumeTime>0?(item.lastConsumeTime | times):'-'}}</td>
            <td style="width:5%;"> {{item.monthRate+'次'}}</td>
            <td style="width:10%;">￥{{item.consumeAmount}}</td>
            <td style="width:10%;"> {{item.avgPrice}}</td>
            <td style="width:10%;"> <a class="zmCurHand" style="margin-right: 5px;" (click)="goLeaguerDetail(item.id)">查看</a></td>
          </tr>
        </tbody>
      </zm-table>


<!--
      <ng-template #tdA let-item="item">{{item.name}}</ng-template>
      <ng-template #tdB let-item="item">{{item.phone}}</ng-template>
      <ng-template #tdC let-item="item">{{item.lastConsumeTime>0?(item.lastConsumeTime | times):'-'}}</ng-template>
      <ng-template #tdD let-item="item">{{item.monthRate+'次'}}</ng-template>
      <ng-template #tdE let-item="item">￥{{item.consumeAmount}}</ng-template>
      <ng-template #tdF let-item="item">{{item.avgPrice}}</ng-template>
      <ng-template #tdG let-item="item">
        <a class="zmCurHand" style="margin-right: 5px;"  (click)="goLeaguerDetail(item.id)">查看</a>
      </ng-template>

      <zm-mat-table  [tdTemplateList]="[tdA,tdB,tdC,tdD,tdE,tdF,tdG]" [thNameList]="['姓名','手机号','上次消费时间','来店频率','消费总额','客单价','操作']" [itemList]="viewData.leaguerList"></zm-mat-table> -->
      <no-data [loadingFinish]="viewData.loadingFinish" [dataList]="viewData.typeList"  [text]="'没有数据'" [showImg]="'noData'"></no-data>
      <zm-page [totalSize]="viewData.recordCount" [curPage]="viewData.page" (pageChange)="getTypePageData($event)"></zm-page>
    </ng-template>

    <ng-template  #tabB>
      <mat-toolbar style="padding-top:15px;margin-bottom:15px;">
        <mat-toolbar-row fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="zmFullWidth">
          <div fxLayout="row wrap" fxLayoutAlign="start center"  fxLayoutGap="50px" class="fullwidth">
            <zm-search-box [label]="'查询'" [placeholder]="'姓名/手机号'" [(zmValue)]="viewData.leaguerCardQueryForm.leaguerNameOrPhone" (callBack)="getCardPageData(1)"></zm-search-box>
            <div style="width:150px;">
              <zm-select-string [label]="'次卡分类'" [name]="'name'" [value]="'id'" [selectList]="viewData.productCardTypeList"  [(zmValue)]="viewData.cardTypeId" (selectCallback)="getCardPageData(1)"></zm-select-string>
            </div>
          </div>
          <div>
            <zm-btn-small name="刷新" (zmbtnClick)="refreshCardList()"></zm-btn-small>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>

      <zm-table>
        <thead>
        <tr style="border-bottom:1px solid rgba(0, 0, 0, 0.12);">
          <th class="py-20" style="width:10%;">姓名</th>
          <th style="width:15%;">手机号</th>
          <th style="width:20%;">上次消费时间</th>
          <th style="width:5%;">次卡名称</th>
          <th style="width:10%;">
            <div class="w-100-p"  fxLayout="row" fxLayoutAlign="center center">
              <span>剩余天数</span>
              <zm-btn-updown *ngIf="viewData.cardList.length>0" (zmbtnClick)="sortCardEndTime($event)" [active]="viewData.cardEndTimeSort"></zm-btn-updown>
            </div>
          </th>
          <th style="width:10%;">操作</th>
        </tr>
        </thead>
        <tbody style="height:auto;">
        <tr *ngFor="let item of viewData.cardList">
          <td style="width:10%;padding:14px 0">{{item.leaguerName}}</td>
          <td style="width:15%;">{{item.leaguerPhone}} </td>
          <td style="width:20%;">{{item.lastConsumeTime>0?(item.lastConsumeTime | times):'-'}}</td>
          <td style="width:5%;">{{item.cardName?item.cardName:'-'}}</td>
          <td style="width:10%;">{{getCardRestDay(item.cardEndTime)}}</td>
          <td style="width:10%;"> <a class="zmCurHand" style="margin-right: 5px;" (click)="goLeaguerDetail(item.leaguerId)">查看</a></td>
        </tr>
        </tbody>
      </zm-table>

      <!--<ng-template #tdA let-item="item">{{item.leaguerName}}</ng-template>-->
      <!--<ng-template #tdB let-item="item">{{item.leaguerPhone}}</ng-template>-->
      <!--<ng-template #tdC let-item="item">{{item.lastConsumeTime>0?(item.lastConsumeTime | times):'-'}}</ng-template>-->
      <!--<ng-template #tdD let-item="item">{{item.cardName?item.cardName:'-'}}</ng-template>-->
      <!--<ng-template #tdE let-item="item">{{getCardRestDay(item.cardEndTime)}}</ng-template>-->
      <!--<ng-template #tdF let-item="item">-->
        <!--<a class="zmCurHand" style="margin-right: 5px;"  (click)="goLeaguerDetail(item.leaguerId)">查看</a>-->
      <!--</ng-template>-->

      <!--<zm-mat-table  [tdTemplateList]="[tdA,tdB,tdC,tdD,tdE,tdF]" [thNameList]="['姓名','手机号','上次消费时间','次卡名称','剩余天数','操作']" [itemList]="viewData.leaguerCardList"></zm-mat-table>-->
      <no-data [loadingFinish]="viewData.loadingFinish" [dataList]="viewData.cardList"  [text]="'没有数据'" [showImg]="'noData'"></no-data>
      <zm-page [totalSize]="viewData.cardRecordCount" [curPage]="viewData.cardPage" (pageChange)="getCardPageData($event)"></zm-page>
    </ng-template>

    <ng-template  #tabC>
      <mat-toolbar style="padding-top:15px;margin-bottom:15px;">
        <mat-toolbar-row fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="zmFullWidth">
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="50px" class="fullwidth">
            <zm-search-box [label]="'查询'" [placeholder]="'姓名/手机号'" [(zmValue)]="viewData.memberCardQueryForm.leaguerNameOrPhone" (callBack)="getMemberCardPageData(1)"></zm-search-box>
            <zm-btn-tab [tabList]="[{name:'未过期',value:0},{name:'已过期',value:1}]" [activeValue]="viewData.memberCardQueryForm.memberCardExpiredState" (zmbtnClick)="changeMemberCardState($event)"></zm-btn-tab>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>

      <zm-table>
        <thead>
        <tr style="border-bottom:1px solid rgba(0, 0, 0, 0.12);">
          <th class="py-20" style="width:10%;">姓名</th>
          <th style="width:15%;">手机号</th>
          <th style="width:15%;">上次消费时间</th>
          <th style="width:5%;">消费总额</th>
          <th style="width:10%;">会员卡名称</th>
          <th style="width:10%;">
            <div class="w-100-p"  fxLayout="row" fxLayoutAlign="center center">
              <span>剩余天数</span>
              <zm-btn-updown *ngIf="viewData.memberCardList.length>0&&viewData.memberCardQueryForm.memberCardExpiredState == 0" (zmbtnClick)="sortMemberCardEndTime($event)" [active]="viewData.memberCardEndTimeSort"></zm-btn-updown>
            </div>
          </th>
          <th style="width:10%;">操作</th>
        </tr>
        </thead>
        <tbody style="height:auto;">
        <tr *ngFor="let item of viewData.memberCardList">
          <td style="width:10%;padding:14px 0">{{item.name}}</td>
          <td style="width:15%;">{{item.phone}}</td>
          <td style="width:15%;">{{item.lastConsumeTime>0?(item.lastConsumeTime | times):'-'}}</td>
          <td style="width:5%;">￥{{item.consumeAmount}}</td>
          <td style="width:10%;">{{item.leaguerMemberCard.cardId | membershipCardNamePipe:viewData.memberCardMap}}</td>
          <td style="width:10%;">{{getMemberCardRestDay(item)}}</td>
          <td style="width:10%;"> <a class="zmCurHand" style="margin-right: 5px;" (click)="goLeaguerDetail(item.id)">查看</a></td>
        </tr>
        </tbody>
      </zm-table>

      <!--<ng-template #tdA let-item="item">{{item.name}}</ng-template>-->
      <!--<ng-template #tdB let-item="item">{{item.phone}}</ng-template>-->
      <!--<ng-template #tdC let-item="item">{{item.lastConsumeTime>0?(item.lastConsumeTime | times):'-'}}</ng-template>-->
      <!--<ng-template #tdD let-item="item">￥{{item.consumeAmount}}</ng-template>-->
      <!--<ng-template #tdE let-item="item">{{item.leaguerMemberCard.cardId | membershipCardNamePipe:viewData.memberCardMap}}</ng-template>-->
      <!--<ng-template #tdF let-item="item">{{getMemberCardRestDay(item)}}</ng-template>-->
      <!--<ng-template #tdG let-item="item">-->
        <!--<a class="zmCurHand" style="margin-right: 5px;"  (click)="goLeaguerDetail(item.id)">查看</a>-->
      <!--</ng-template>-->

      <!--<zm-mat-table  [tdTemplateList]="[tdA,tdB,tdC,tdD,tdE,tdF,tdG]" [thNameList]="['姓名','手机号','上次消费时间','消费总额','会员卡名称','剩余天数','操作']" [itemList]="viewData.leaguerList"></zm-mat-table>-->
      <no-data [loadingFinish]="viewData.loadingFinish" [dataList]="viewData.memberCardList"  [text]="'没有数据'" [showImg]="'noData'"></no-data>
      <zm-page [totalSize]="viewData.memberCardRecordCount" [curPage]="viewData.memberCardPage" (pageChange)="getMemberCardPageData($event)"></zm-page>
    </ng-template>

    <ng-template  #tabD>
      <mat-toolbar style="padding-top:15px;margin-bottom:15px;">
        <mat-toolbar-row fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="zmFullWidth">
          <div fxLayout="row wrap"  fxLayoutGap="50px" class="fullwidth">
            <zm-search-box [label]="'查询'" [placeholder]="'姓名/手机号'" [(zmValue)]="viewData.balanceQueryForm.leaguerNameOrPhone" (callBack)="getBalancePageData(1)"></zm-search-box>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>

      <zm-table>
        <thead>
        <tr style="border-bottom:1px solid rgba(0, 0, 0, 0.12);">
          <th class="py-20" style="width:10%;">姓名</th>
          <th style="width:15%;">手机号</th>
          <th style="width:20%;">上次消费时间</th>
          <th style="width:10%;">
            <div class="w-100-p"  fxLayout="row" fxLayoutAlign="center center">
              <span>会员余额</span>
              <zm-btn-updown *ngIf="viewData.balanceList.length>0" (zmbtnClick)="sortMemberCardBalance($event)" [active]="viewData.memberCardBalanceSort"></zm-btn-updown>
            </div>
          </th>
          <th style="width:10%;">操作</th>
        </tr>
        </thead>
        <tbody style="height:auto;">
        <tr *ngFor="let item of viewData.balanceList">
          <td style="width:10%;padding:14px 0">{{item.name}}</td>
          <td style="width:15%;">{{item.phone}}</td>
          <td style="width:20%;">{{item.lastConsumeTime>0?(item.lastConsumeTime | times):'-'}}</td>
          <td style="width:10%;">￥{{item.leaguerMemberCard.balance | number:'1.2-2'}}</td>
          <td style="width:10%;"> <a class="zmCurHand" style="margin-right: 5px;" (click)="goLeaguerDetail(item.id)">查看</a></td>
        </tr>
        </tbody>
      </zm-table>

      <!--<ng-template #tdA let-item="item">{{item.name}}</ng-template>-->
      <!--<ng-template #tdB let-item="item">{{item.phone}}</ng-template>-->
      <!--<ng-template #tdC let-item="item">{{item.lastConsumeTime>0?(item.lastConsumeTime | times):'-'}}</ng-template>-->
      <!--<ng-template #tdD let-item="item">￥{{item.leaguerMemberCard.balance | number:'1.2-2'}}</ng-template>-->
      <!--<ng-template #tdE let-item="item">-->
        <!--<a class="zmCurHand" style="margin-right: 5px;"  (click)="goLeaguerDetail(item.id)">查看</a>-->
      <!--</ng-template>-->

      <!--<zm-mat-table  [tdTemplateList]="[tdA,tdB,tdC,tdD,tdE]" [thNameList]="['姓名','手机号','上次消费时间','会员余额','操作']" [itemList]="viewData.leaguerList"></zm-mat-table>-->
      <no-data [loadingFinish]="viewData.loadingFinish" [dataList]="viewData.balanceList"  [text]="'没有数据'" [showImg]="'noData'"></no-data>
      <zm-page [totalSize]="viewData.balanceList" [curPage]="viewData.balancePage" (pageChange)="getBalancePageData($event)"></zm-page>
    </ng-template>

    <zm-mat-tabs [tabTemplateList]="[tabA,tabB,tabC,tabD]" [tabNameList]="['会员类型','次卡即将过期','会员卡即将过期','会员余额不足']" [selectedIndex]="0" (onSelect)="switchTab($event)"></zm-mat-tabs>

  </view-body-comp>
