
.text-center{
  text-align: center;
}
.pd-lr-30{
  padding-left:30px;
  padding-right:30px;
}
.mg-l-20{
  margin-left:20px;
}
.pd-l-10{
  padding-left:10px;
}
.pd-r-20{
  padding-right:20px;
}
.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}
.fz-18{
  font-size:18px;
}
.font-bold{
  font-weight:bold;
}
.disFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
.pos-r{
  position: relative;
}
.pos-a{
  position: absolute;
}
.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
}
.color-theme{
  color:#03a9f4;
}
.cur-hand{
  cursor: pointer;
}


.sp-table tbody tr td:first-child{
    background-color:#f4f6fa !important;
    width:30%;
    font-weight: bold;
}
.sp-table tbody tr td:last-child{
  background-color:#fff !important;
}
