.main-content{
  padding:20px 0px;
  margin-left:250px;
  border-radius:4px;
  padding-right: 20px;
  min-width: 950px;
  overflow-x: auto;

}

div{
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: #4D435A;
  }
  ::-webkit-scrollbar-button {
    display: none !important;
  }
  scrollbar-arrow-color: none;
  scrollbar-face-color: #333;
  scrollbar-3dlight-color: #666;
  scrollbar-highlight-color: #666;
  scrollbar-shadow-color: #999;
  scrollbar-darkshadow-color: #666;
  scrollbar-track-color: #666;
  scrollbar-base-color:#f8f8f8;
}
