<view-body-comp [headerArr]="['续费升级']">
<div style="position:absolute;right:55px;top:78px;"><zm-btn  [stroked] = "true"(click)="goHistory()" name="历史记录"></zm-btn></div>
<zm-card-box [withCollapse]="false" *ngIf="viewData.buser">
        <header>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                <span><img src="assets/images/icon/time.png"></span>
                <div>
                    <p class="my-4" style="color:#999999;">当前等级为：{{viewData.currentVipLevel?viewData.currentVipLevel.name:'未匹配到当前级别'}}</p>
                    <p class="my-4" style="color:#999999;">到期时间：{{viewData.buser.expiredTime | times}}</p>
                </div>

            </div>
        </header>
        <content>

                    <div *ngIf="viewData.selectedVipLevel" class="mt-20" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
                        <span><img src="assets/images/icon/ic_pitch.png"></span>
                        <div>
                            <p class="my-4" >你选择的级别</p>
                        </div>
                    </div>

                 <!-- tab组件 -->

                        <zm-tabs-slider [imgList]="viewData.vipLevelList" (onSelect)="selectVipLevel($event)"></zm-tabs-slider>

                    <!-- 支付 -->
                        <div *ngIf="viewData.selectedVipLevel">
                          <div class="mt-20" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
                            <span><img src="assets/images/icon/ic_pitch.png"></span>
                            <div>
                              <p class="my-4"style="color:rgba(0, 0, 0, 0.87);" >支付</p>
                            </div>
                          </div>
                          <div class="mt-12" fxLayout="column" fxLayoutGap="15px">
                            <div fxLayout="column">
                              <p class="my-4 pl-32"><span style="display:inline-block;width:70px;text-align:right;margin-right:15px;">支付金额:</span><span class="text-bold">￥{{getPay() | number:'1.2-2'}}</span></p>
                              <p class="my-4 pl-32"><span  style="display:inline-block;width:70px;text-align:right;margin-right:15px;">优惠:</span><span  class="text-bold">￥0.00</span></p>
                              <p class="my-4 pl-32"><span  style="display:inline-block;width:70px;text-align:right;margin-right:15px;">实付款:</span><span  class="text-bold">￥{{getMoney() | number:'1.2-2'}}</span></p>
                            </div>
                            <div class="pl-48">
                              <zm-btn-md [stroked]="true" name="立即支付" [disabled]="!viewData.selectedVipLevel" (zmbtnClick)="addCharge()"></zm-btn-md>
                            </div>
                          </div>
                        </div>
        </content>
</zm-card-box>
<zm-card-box [withCollapse]="false" *ngIf="viewData.selectedVipLevel">
        <header>
               <div class="mt-20" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
                    <span><img src="assets/images/icon/ic_pitch.png"></span>
                    <div>
                        <p class="my-4"style="color:rgba(0, 0, 0, 0.87);" >等级特权</p>
                    </div>
                </div>
        </header>

        <content>

            <div class="mt-20" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
                <div  fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
                        <span><img src="assets/images/icon/store-num.png"></span>
                        <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
                            <p class="my-0">店铺数量</p>
                            <p class="my-0" style="font-size:12px;color:#999999;">可拥有{{viewData.selectedVipLevel.vipContent.storeLimit}}家店铺</p>
                        </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
                        <span><img src="assets/images/icon/store-num.png"></span>
                        <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
                        <p class="my-0">会员数量</p>
                        <p class="my-0" style="font-size:12px;color:#999999;">可拥有{{viewData.selectedVipLevel.vipContent.storeLimit}}个会员</p>
                    </div>
            </div>

            </div>
<!-- 功能特权 -->
            <div class="mt-20" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
                    <span><img src="assets/images/icon/ic_pitch.png"></span>
                    <div>
                        <p class="my-4" >功能特权</p>
                    </div>
            </div>
            <div class="py-20" fxLayout="row wrap" fxLayoutAlign="start center">
                <div class="text-truncate" *ngFor="let item of getPermList()" fxLayout="row" fxLayoutAlign="start center" style="width:165px;margin:0 10px 10px 0">
                        <span><img src="assets/images/icon/correct-on.png"></span>
                            <p class="my-0 ml-4">{{item.permName}}</p>
                </div>

            </div>

        </content>
</zm-card-box>
</view-body-comp>
