
  <view-body-comp [headerArr]="['修改密码']">

          <ng-template #tabA>
            <div class="mt-28 w-55-p">
              <old_pwd [isRight]="resPwdText" [(zmValue)]="viewData.formData.oldPassword" [(zmPass)]="viewData.formData.oldPasswordPass"
                          (valueChecked)="viewData.formData.check()"></old_pwd>

              <change_pwd [(zmValue)]="viewData.formData.password" [(zmPass)]="viewData.formData.passwordPass"
                                (valueChecked)="viewData.formData.check()"></change_pwd>

              <change_pwd_confirm [(zmValue)]="viewData.formData.pwdConfirm" [(zmPass)]="viewData.formData.pwdConfirmPass"
                                        [password] = "viewData.formData.password"  (valueChecked)="viewData.formData.check()" ></change_pwd_confirm>

              <zm_reg_input_btn [text]=" '修改密码' " [canSubmit]="viewData.formData.canSubmit" (zmClick)="changePassword()"></zm_reg_input_btn>

            </div>
          </ng-template>

          <ng-template #tabB>
            <div class="mt-28 w-55-p">
              <change_pwd_phone [(zmValue)]="viewData.randomCodeAPIForm.phoneNumber"></change_pwd_phone>


              <change_pwd_vCode [(zmValue)]="viewData.resetFormData.vCode"  [(zmPass)]="viewData.resetFormData.vCodePass"
                          [phone]="viewData.randomCodeAPIForm.phoneNumber" [phonePass]="true"
                          ></change_pwd_vCode>

              <change_pwd [(zmValue)]="viewData.resetFormData.password" [(zmPass)]="viewData.resetFormData.passwordPass"
                          (valueChecked)="viewData.resetFormData.check()"></change_pwd>

              <change_pwd_confirm [(zmValue)]="viewData.resetFormData.pwdConfirm" [(zmPass)]="viewData.resetFormData.pwdConfirmPass"
                                  [password] = "viewData.resetFormData.password"  (valueChecked)="viewData.resetFormData.check()" ></change_pwd_confirm>

              <zm_reg_input_btn notRepeatSubmit [text]=" '修改密码' " [canSubmit]="viewData.resetFormData.canSubmit" (zmClick)="resetPwd()"></zm_reg_input_btn>
            </div>
          </ng-template>

          <zm-mat-tabs  [tabTemplateList]="[tabA,tabB]" [tabNameList]="['通过原密码修改','通过手机验证修改']" [selectedIndex]="defaultTab" (onSelect)="onTabSelect($event)"></zm-mat-tabs>
  </view-body-comp>













