.c-input{
  font-size: 16px !important;
}
.disFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
}
.dib {
  display: inline-block;
}
.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}
.text-center{
  text-align: center;
}
.c-btn-blue {
  color: #fff;
  border-color: #4678fa !important;
  background-color: #4678fa !important;
}


.c-input{
  width: calc(100% - 95px);
  color:#333;
  font-size: 14px;
  height: 48px;
  border-radius: 0.375rem;
  background-color: #ffffff;
  border:2px solid #dadfe6;
  padding: 0 0.75rem;
}
.c-input:focus{
  outline: none;
}
.c-input-error{
  height: 30px;
  font-size: 12px;
  color: #FF4c6a;
  margin-left:108px;
  margin-top: 10px;
}
.fz-18{
  font-size: 18px;
}

.font-c3{
  color: #FF4c6a;
}

.mg-l-10{
  margin-left: 10px;
}
.mg-r-5{
  margin-right:5px;
}


.pd-l-0{
  padding-left:0;
}

.form-valid-success {
  border: 2px solid #0A85EA !important;
}
.form-valid-error {
  border: 2px solid #FF4c6a !important;
}

.cur-hand{
  cursor: pointer;
}

.mask {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: .3;
  z-index: 9998;
}

.zm_select_country{
  .transform{
    -webkit-transform:scaleY(-1);
    -moz-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
    /*IE*/
    filter:FlipV;
  }
  select {
    border:none;
    outline: none;
  }
  .menu{
    display:inline-block;
    font-weight: bold;
    height: 48px;
    line-height: 48px;
  }
  .hidden{
    visibility: hidden;
  }
  ul {
    background: #fff;
  }
  li{
    display: block;
    background: #fff;
    width: 160px;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
    font-size: 14px;
    border:2px solid #dadfe6;
    border-top:none;
    border-bottom:none;
  }
  li .number{
    vertical-align: middle;
    width:38px;
    height:20px;
    line-height:20px;
    background: #87c4f5;
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 2px;
    margin-left: 9px;
  }
  li:last-child{
    border-bottom:2px solid #dadfe6;
  }
  li:hover{
    background-color: #0f88eb;
    color: #fff;
  }
  .c-input{
    color:#333;
    font-size: 14px;
    height: 48px;
    width:auto;
    border-radius: 0;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    background-color: #ffffff;
    border:2px solid #dadfe6;
    border-right: none;
    padding:0;
  }
  .c-input:focus{
    outline: none;
  }
  .c-input-error{
    height: 30px;
    font-size: 12px;
    color: #FF4c6a;
    margin-left:108px;
    margin-top: 10px;
  }
}

.mask {
  background: transparent;
  z-index: 10;
}
.mask.none {
  display: none;
}

.font-c1{
  color: #4678fa;
}
.text-left{
  text-align: left;
}
.pos-r{
  position: relative;
}
// .btn{
//   padding: 0.75rem 0.35rem;
// }

.c-input-label{
  margin-right: 15px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  width: 95px;
  text-align: left;
  flex-shrink: 0;
}
.c-input{
  width: calc(100% - 95px);
  color:#333;
  font-size: 14px;
  height: 48px;
  border-radius: 0.375rem;
  background-color: #ffffff;
  border:2px solid #dadfe6;
  padding: 0 0.75rem;
}
.c-input:focus{
  outline: none;
}


.btn-valid {

  &-success {
    background: #439fed !important;
    /* 一些不支持背景渐变的浏览器 */
    background: -webkit-gradient(linear, left top, right top, from(#439fed), to(#4678fa)) !important;
    background: -webkit-linear-gradient(left, #439fed, #4678fa) !important;
    background: -moz-linear-gradient(left, #439fed, #4678fa) !important;
    background: linear-gradient(to right, #439fed, #4678fa) !important;
    background: -o-linear-gradient(to right, #439fed, #4678fa) !important;
  }
  &-error {
    background-image: -webkit-gradient(linear, left top, right top, from(#ff4c6a), to(#ff4c6a)) !important;
    background-image: -webkit-linear-gradient(left, #ff4c6a, #ff4c6a) !important;
    background-image: -moz-linear-gradient(left, #ff4c6a, #ff4c6a) !important;
    background-image: linear-gradient(to right, #ff4c6a, #ff4c6a) !important;
    border: none !important;
  }
}
