.fz-18{
  font-size:18px;
}
.font-bold{
  font-weight:bold;;
}
.mg-t-40{
  margin-top:40px;
}
.mg-b-30{
  margin-bottom:30px;
}
.mg-t-10{
  margin-top:10px;
}
.cur-hand{
  cursor: pointer;
}
.c-btn-blue{
  color: #fff;
  border-color:#03a9f4 !important;
  background-color:#03a9f4 !important;
}


.flex2{
	-webkit-box-flex:2;
	    -ms-flex:2;
	        flex:2;
}
