.text-center{
  text-align: center;
}
.font-bold{
  font-weight: bold;
}
.mg-t-20{
  margin-top:20px;
}
.fz-18{
  font-size:18px;
}


.error-btn{
	height:40px;
	line-height: 40px;
	background:#4678fa;
	border-radius:6px;
	color:#fff;
	text-align:center;
	width:150px;
	cursor:pointer;
	margin:0 auto;
	margin-top:40px;
}
