
<view-body-comp [headerArr]="['店铺列表','编辑店铺']">

  <div style="max-width:600px">

    <zm-input-name label="店铺名称" placeholder="请输入店铺名称" maxlength="15"
                   [(zmValue)]="viewData.store.name" [(zmPass)]="viewData.store.namePass"></zm-input-name>

    <div class="form-group row mb-0">
      <label class="col-form-label text-center col-md-2 px-0"><span class="text-danger"> *</span>区域</label>
      <div class="col-md-10">
        <city-select-comp [(citySetting)]="viewData.citySetting"></city-select-comp>
      </div>
    </div>

    <zm-input-textarea [label]="'详细地址'" [placeholder]="'请输入详细地址'"
                       [(text)]="viewData.store.address" [maxlength]="200"></zm-input-textarea>

    <zm-input-tel label="预约电话"  placeholder="请输入预约电话" [(zmValue)]="viewData.store.tel" [(zmPass)]="viewData.store.telPass" [required]="true"></zm-input-tel>

    <zm-input-textarea maxlength="200" [label]="'店铺介绍'" [placeholder]="'请输入店铺介绍'" [(text)]="viewData.store.descript"></zm-input-textarea>

    <div fxLayout="row" fxLayoutAlign="end" style="margin-top: 20px;">
      <zm-btn-large  fxFlexAlign="end" [disabled]="!(viewData.store.namePass && viewData.store.telPass)" name="保存" (zmbtnClick)="updateStoreInfo()"></zm-btn-large>
    </div>


  </div>


</view-body-comp>


<!--<form #form="ngForm">-->
  <!--<zm-form-price name="price" #price="ngModel" [(ngModel)]="zmValue" [label]="'售价'"></zm-form-price>-->
  <!--<mat-error *ngIf="price.invalid">-->
    <!--{{price.errors | json}}-->
  <!--</mat-error>-->
<!--</form>-->
<!--<pre>{{ form.value | json }}</pre>-->
<!--<zm-btn-large [disabled]="form.invalid" name="保存"></zm-btn-large>-->

<!--<form [formGroup]="ngForm">-->
  <!--<zm-form-price formControlName="price" [label]="'售价'"></zm-form-price>-->
  <!--<mat-error *ngIf="ngForm.get('price').errors">-->
    <!--{{ngForm.get('price').errors | json}}-->
  <!--</mat-error>-->
<!--</form>-->
<!--<pre>{{ ngForm.value | json }}</pre>-->
<!--<zm-btn-large [disabled]="ngForm.invalid" name="保存"></zm-btn-large>-->
