//重置样式
.clear{clear:both;}
ol, ul, dl{margin: 0 !important;padding: 0 !important;}
li{list-style-type: none;}
a:focus{outline: none;}
//公共样式   响应样式


.pd-r-38 {
    padding-right:38px !important;
  }
.mg-b-40 {
  margin-bottom: 40px;
}
.c-btn{
  padding: 4px 15px !important;
  font-size: 14px !important;
}
.c-form-control{
  font-size: 14px !important;
}
.c-input-group{
  align-items: center !important;
  .form-control{
    border-radius: 0.375rem !important;
  }
}

//兼容IE下的input框*
input::-ms-clear{display:none;}
input::-ms-reveal{display: none;}

.disTab{
  display: inline-table;
  -moz-display:inline-table;
  -webkit-display:inline-table;
  -ms-display:inline-table;
}
//select一些不支持的浏览器
select.form-control:not([size]):not([multiple]){
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image:url(~assets/images/arrow.png);
  background-repeat: no-repeat;
  background-position:95% 50%;
  font-size: 14px;
  padding-right: 25px;
}
//输入框
.form-control{
  padding: 0.75rem 0.75rem;
  border: 2px solid #ced4da;
}
//IE下的select
select::-ms-expand { display: none; }
//IE下的select
.set-bg{
  background-color:#F4F6FA !important;
}
.c-hued{
   width: 100px;
 }

.c-troupe{
  width:75px;
}
.c-eight{
  width:80px;
}
//select
//手型
.c-cur{
  cursor:pointer !important;
}
//重用表格样式
.table {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0 !important;
  thead th {
    font-weight: bold;
    background-color: #f4f6fa !important;
  }
  tbody tr{
    margin-top: -1px;
  }
  tbody tr:nth-of-type(odd){
    background-color: #ffffff;
  }
  tbody tr:nth-of-type(even),tbody tr:nth-of-type(even) input,tbody tr:nth-of-type(even) select{
    background-color:#f9fafc;
  }
  tbody .c-tr:hover{
    background-color: #e7f3fd;
  }
  a{cursor:pointer;}
  a:hover{text-decoration: none;color: #4678fa !important;}
}
.table th, .table td{
  vertical-align: middle !important;
  font-size: 14px;
}
.table-bordered thead th{
  border-bottom-width: 1px !important;
}
//保存按钮
.c-my-btn{
  width: calc(100% - 95px);
  margin-left: 95px;
}
//模态按钮
.c-btn-modal{
  width: 168px;
  padding: 12px 0 !important;
  outline: none;
}
.c-close-btn-modal{
  border: 2px solid #4678fa !important;
  color: #4678fa !important;
  background-color: #fff;
}
.c-md-btn-modal{
  width: 140px;
  padding: 12px 0 !important;
  outline: none;
}
.c-btn-modal:focus{
  border: none !important;
  outline: none;
}
.modal-title{
  font-size: 18px;
  font-weight: bold !important;
  color: #333 !important;
}
//模态按钮

//不可点击按钮
.elect{
  background-color: #80bff3 !important;
  }
//不可点击input
.input{
  background-color: #dadfe6 !important;
}

//单选按钮
.nb-theme-default .custom-control .custom-control-input:checked ~ .custom-control-indicator{
  border-color: #4678fa !important;
}
.custom-control-indicator::before {
  color: #fff;
  border-color: #4678fa !important;
}
.nb-theme-default .custom-control:hover  .custom-control-indicator{
  border-color: #4678fa !important;
}
//全局btn
.btn{
  padding: 0.75rem 0.35rem;
}
//date
 .btn-link{
  border: none !important;
}
.time-list .form-control{
  padding: 1px 9px !important;
}
html { scrollbar-face-color:#f6f6f6; scrollbar-highlight-color:#fff; scrollbar-shadow-color:#eeeeee; scrollbar-3dlight-color:#eeeeee; scrollbar-arrow-color:#000; scrollbar-track-color:#fff; scrollbar-darkshadow-color:#fff; }
//针对只读输入框
.form-control[readonly] {
  background: none !important;
}
//时间按钮背景色
.input-group-addon{
  background: none !important;
}
//针对只读输入框
//全局表格scorll
.form-table {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  //table-layout: fixed;
  word-break: break-all;
}
.form-table  th {
  border-right: 1px #ccc solid;
  background: #F3F3F3;
}
.form-table  td {
  border-left: none;
  border-top: none;
  border-bottom: 1px #ccc solid;
  border-right: 1px #ccc solid;
}
.scroll-thead{
  //padding-right: 5px;
  box-sizing: border-box;
  //padding-right: 6px;
  background: #F3F3F3;
  border: 1px solid #ccc;
}

.fixed-thead tr {
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.fixed-thead tr th {
  height: 50px;
  font-size: 16px;
  text-align: center;
}
.form-table th:last-child {
  border-right: 0;
}
.scroll-box{
  width: 100%;
  //height: 180px;
  overflow: auto;
  overflow-x:hidden;
  border: 1px solid #ccc;
  border-top: none;
  //padding-right: 5px;
}
.scroll-box tr {
  width: 100%;
  height: 40px;
  line-height: 20px;
}
.scroll-box tr td {
  padding: 5px;
  border-bottom: none;
}
.scroll-box tr:nth-child(odd) td {
  background-color: #ECE9D8;
}

/*重置元素设定的宽度和高度决定了元素的边框盒。*/
*,.box-sizing {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}//全局表格scorll
