.form-valid-error{
  border: 2px solid #FF4c6a !important;
}
.c-input-label{
  margin-right: 15px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  width: 95px;
  text-align: left;
}
.c-input{
  width: calc(100% - 95px);
  color:#333;
  font-size: 14px;
  height: 48px;
  border-radius: 0.375rem;
  background-color: #ffffff;
  border:2px solid #dadfe6;
  padding: 0 0.75rem;
}
.c-input:focus{
  outline: none;
}
.c-input-error{
  height: 30px;
  font-size: 12px;
  color: #FF4c6a;
  margin-left:95px;
  margin-top: 10px;
}

.text-center{
  text-align: center;
}
.disFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
}

.hor-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
}
.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}
.font-bold{
  font-weight: bold;
}
.fz-18{
  font-size:18px;
}

.c-label{
  margin-bottom: 0;
  font-size: 14px;
}
.c-search-input{
  border-radius: 6px 0 0 6px;
  background: #F4F6FA;
  height: 30px;
  border: 1px solid #ECEFF3;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
}
.c-search-btn{
  color: #fff;
  background:#03a9f4;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 30px;
  padding: 0 15px;
  font-size: 14px;
  margin-left: -5px;
  cursor: pointer;
  outline: none;
}
.mg-r-10 {
  margin-right: 10px;
}
.mg-r-20{
  margin-right: 20px;
}
.mg-l-10 {
  margin-left: 10px;
}
.mg-l-20{
  margin-left: 20px;
}
.mg-t-20{
  margin-top: 20px;
}
.mg-b-0{
  margin-bottom:0;
}
.mg-b-10{
  margin-bottom: 10px;
}
.pd-l-0{
  padding-left: 0;
}
.pd-r-0{
  padding-right: 0;
}

.c-btn-blue{
  color: #fff;
  border-color:#03a9f4 !important;
  background-color:#03a9f4 !important;
}
.form-valid-error{
  border: 2px solid #FF4c6a !important;
}
.form-valid-success{
  border: 2px solid #0A85EA !important;
}
.btn-valid-success{
  background: #439fed !important;
  /* 一些不支持背景渐变的浏览器 */
  background: -webkit-gradient(linear, left top, right top, from(#439fed), to(#4678fa)) !important;
  background: -webkit-linear-gradient(left, #439fed,#03a9f4) !important;
  background: -moz-linear-gradient(left, #439fed,#03a9f4) !important;
  background: linear-gradient(to right, #439fed,#03a9f4) !important;
  background: -o-linear-gradient(to right, #439fed,#03a9f4) !important;
}
.btn-valid-error{
  background-image: -webkit-gradient(linear, left top, right top, from(#ff4c6a), to(#ff4c6a)) !important;
  background-image: -webkit-linear-gradient(left, #ff4c6a, #ff4c6a) !important;
  background-image: -moz-linear-gradient(left, #ff4c6a, #ff4c6a) !important;
  background-image: linear-gradient(to right, #ff4c6a, #ff4c6a) !important;
  border: none !important;
}
.font-c3{
  color: #FF4c6a;
}
.fz-14{
  font-size: 14px;
}
.cur-hand{
  cursor: pointer;
}

.c-input-data {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  border: 2px solid #dadfe6;
  border-right: none;
  height: 30px;
  font-size: 14px;
  padding-left: 10px;
  margin-left: 10px;
  outline: none;
  width: 150px;
}
.c-client-data {
  outline: none;
  height: 30px;
  border: 2px solid #dadfe6 !important;
  border-top-left-radius: 0 !important;;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
.c-client-data:focus {
  border-color: #dadfe6;
}
.btn-upload{
  background:#4678fa;
  color:#fff;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  padding: 7px 12px;
  cursor:pointer;
}
.input-upload{
  left:0;
  top:0;
  height:100%;
  opacity:0;
  filter:alpha(opacity=0);
}
.pos-r{
  position: relative;
}
.pos-a{
  position: absolute;
}
.dib {
  display: inline-block;
}

//select一些不支持的浏览器
select.form-control:not([size]):not([multiple]){
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image:url(/assets/images/arrow.png);
  background-repeat: no-repeat;
  background-position:95% 50%;
  font-size: 14px;
  padding-right: 25px;
}
//操作按钮
//公共样式   响应样式
.c-btn{
  padding: 4px 15px !important;
  font-size: 14px !important;
}
.c-form-control{
  font-size: 14px !important;
}
.c-input-group{
  align-items: center !important;
  .form-control{
    border-radius: 0.375rem !important;
  }
}


.c-input-label{
  margin-right: 15px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  width:95px;
  text-align: left;
}
.c-input{
  width: calc(100% - 95px);
  color:#333;
  font-size: 14px;
  height: 48px;
  border-radius: 0.375rem;
  background-color: #ffffff;
  border:2px solid #dadfe6;
  padding: 0 0.75rem;
}
.c-input:focus{
  outline: none;
}
.c-input-error{
  height: 30px;
  font-size: 12px;
  color: #FF4c6a;
  margin-left:107px;
  margin-top: 10px;
}



.cus-radio{
  opacity: 0;
  z-index: -1;
}
.radio-b{
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: #DDDDDD;
  border-radius: 50%;
  position: relative;
}
.radio-b:after{
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  left:3px;
  top:3px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 2;
}
.radio-b:before{
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left:-4px;
  top: -4px;
  border: 2px solid #DDDDDD;
  border-radius: 50%;
  z-index: 1;
}
.text-radio{
  background-color:#03a9f4;
  position: relative;
}
.text-radio:after{
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  left:3px;
  top:3px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 2;
}
.text-radio:before{
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left:-4px;
  top: -4px;
  border: 2px solid#03a9f4;
  border-radius: 50%;
  z-index: 1;
}
